<!DOCTYPE html>
<html>
  <head>
    <title>Rendered Image</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img alt="Embedded Image" src="data:image/png;base64,<%= image %>" />
  </body>
</html>